<ion-header>
  <ion-toolbar>
    <ion-buttons>
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Orders</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="ion-padding">
    <h2>Need Help?</h2>
    <ion-button
      expand="block"
      color="primary"
      (click)="openSupport()"
      >Contact Support</ion-button
    >
  </div>

  <ion-list [inset]="false">
    <ion-item
      *ngFor="let order of (myOrders$ | async)"
      (click)="viewOrder(order.uuid)"
      button
    >
      <ion-avatar slot="start" *ngIf="!order.driverUuid">
        <img
          alt="Silhouette of a person's head"
          [src]="'https://ui-avatars.com/api/?name=?&background=EE4B2B&color=fff'"
        />
      </ion-avatar>
<!-- 
      <ion-avatar slot="start" *ngIf="order.driverUuid">
        <img
          alt="Silhouette of a person's head"
          [src]="'https://ui-avatars.com/api/?name=E&background=0D8ABC&color=fff'"
        />
      </ion-avatar>

      <ion-label>
        <h2>
          {{ order.deliveryAddressPostcode }}, {{ order.distance }} miles
        </h2>
        <p>
          {{ order.createdAt | date: 'dd MMM HH:mm' }}
          <small> ({{ order.createdAt | date: 'dd MMM HH:mm' }})</small>
        </p>
        <p>{{ order.multiOrderLines?.length }} items</p>
        <p>{{ order.order_total | currency:"GBP":true }}</p>
        <p>
          <ion-text color="danger" *ngIf="order.order_status === 'OPEN'">
            Open
          </ion-text>
          <ion-text
            color="warning"
            *ngIf="order.order_status === 'ASSIGNED_TO_DRIVER'"
          >
            Assigned To Driver
          </ion-text>
          <ion-text color="success" *ngIf="order.order_status === 'CLOSED'">
            Completed
          </ion-text>
        </p>
      </ion-label> -->
    </ion-item>
  </ion-list>
</ion-content>
