ion-content {
  --background: #f9f9f9;
}

ion-icon {
  position: relative;
  top: 3px;
  left: -5px;
}

ion-label {
  font-family: Pixelmania;
  font-size: 13px;
}

.order-list{
  margin-top: -28px;
}