<ion-header>
  <ion-toolbar>
    <ion-buttons>
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Order #1234</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="!loading">
  <!-- <div class="ion-padding">
    <h2 style="text-align: center; color: #2f2f2f">
      <ion-icon name="heart" style="color: #a7b974"></ion-icon>
      <span style="color: #a7b974"> Thank you </span>for your order!
    </h2>
  </div> -->

  <div class="ion-padding">
    <shoppr-monorepo-order-tracking
      [order]="order"
    ></shoppr-monorepo-order-tracking>
  </div>

  <div class="ion-padding scan-barcode" *ngIf="packing">
    <ion-button (click)="packItem()" style="width: 100%">
      <ion-icon name="scan-circle-outline"></ion-icon>&nbsp; Scan Barcode
    </ion-button>
  </div>

  <ion-list class="order-list" inset="true">
    <ion-list-header>
      <ion-label>YOUR ORDER.</ion-label>
    </ion-list-header>
    <ion-item *ngFor="let orderLine of order.multiOrderLines">
      <ion-label>
        <h3>
          ({{ orderLine.drop?.itemCode }}) {{ orderLine.quantity }} x {{
          orderLine.line_title }}
        </h3>
        <p class="stockLevels" *ngIf="isDriver$ | async">
          You/Drivers/Warehouse ({{ orderLine.drop?.summary.totalItemsWithSelf
          }})/({{ orderLine.drop?.summary.totalItemsWithDrivers }})/({{
          orderLine.drop?.summary.totalItemsWithLocation }})
          &nbsp; 
          <ion-icon
            class="icon-larger"
            color="success"
            *ngIf="orderLine.quantity <= orderLine.drop?.summary.totalItemsWithSelf"
            name="checkmark-circle-outline"
          ></ion-icon>

          <ion-icon
            class="icon-larger"
            color="danger"
            *ngIf="orderLine.quantity > orderLine.drop?.summary.totalItemsWithSelf"
            name="bag-remove-outline"
          ></ion-icon>
        </p>
      </ion-label>
    </ion-item>
  </ion-list>

  <ion-list
    inset="true"
    *ngIf="order.deliveryMethod === 'LOCAL_DELIVERY' || order.deliveryMethod === 'NATIONAL_DELIVERY'"
  >
    <ion-list-header>
      <ion-label>DELIVERY ADDRESS.</ion-label>
    </ion-list-header>

    <ion-item>
      <ion-label>
        <p>{{ order.deliveryAddressLine1 }}</p>
        <p>{{ order.deliveryAddressLine2 }}</p>
        <p>{{ order.deliveryAddressCountry }}</p>
        <p>{{ order.deliveryAddressCity }}</p>
        <p>{{ order.deliveryAddressPostcode }}</p>
      </ion-label>
    </ion-item>
  </ion-list>

  <ion-footer *ngIf="isDriver$ | async">
    <ion-button
      expand="block"
      color="success"
      (click)="assignDriver()"
      *ngIf="order.order_status === 'OPEN'"
    >
      Assign Delivery
    </ion-button>

    <ion-button
      expand="block"
      color="success"
      (click)="startPacking()"
      *ngIf="order.order_status === 'ASSIGNED_TO_DRIVER'"
    >
      Start Packing
    </ion-button>

    <ion-button
      expand="block"
      color="danger"
      (click)="releaseOrderFromDriver()"
      *ngIf="order.order_status === 'ASSIGNED_TO_DRIVER'"
    >
      Release Delivery
    </ion-button>
  </ion-footer>
</ion-content>

<ng-template *ngIf="loading">
  <ion-content>
    <ion-spinner name="crescent"></ion-spinner>
  </ion-content>
</ng-template>
