ion-content {
  --background: #f9f9f9;
}

ion-icon {
  position: relative;
  top: 3px;
  left: -5px;
}

ion-label {
  font-family: Pixelmania;
  font-size: 13px;
}

.order-list {
  margin-top: 0px;
}

.scan-barcode {
  margin-bottom: 24px;
}

.icon-larger {
  font-size: 18px;
}

.ion-label-header {
  font-family: Pixelmania;

  color: white;
  ion-label {
    font-size: 20px;
  }
}

.bg {
  background-color: #ee4b2b;
  color: white;
}
