<ion-header>
  <ion-toolbar>
    <ion-buttons>
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Order #1234</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="!loading">
  <!-- <div class="ion-padding">
    <h2 style="text-align: center; color: #2f2f2f">
      <ion-icon name="heart" style="color: #a7b974"></ion-icon>
      <span style="color: #a7b974"> Thank you </span>for your order!
    </h2>
  </div> -->

  <div class="ion-padding">
    <shoppr-monorepo-order-tracking [order]="order"></shoppr-monorepo-order-tracking>
  </div>


  <div class="ion-padding">
    <ion-button (click)="packItem()" *ngIf="packing" style="width: 100%">
      <ion-icon name="scan-circle-outline"></ion-icon>&nbsp; Scan Barcode
    </ion-button>
  </div>

  <ion-list inset="true">
    <ion-list-header>
      <ion-label>Items For Order</ion-label>
    </ion-list-header>
    <ion-item *ngFor="let orderLine of order.multiOrderLines">
      <ion-label>
        <h2>
          ({{ orderLine.drop?.itemCode }}) {{ orderLine.quantity }} x {{
          orderLine.line_title }}
        </h2>
      </ion-label>
    </ion-item>
  </ion-list>

  <ion-list
    inset="true"
    *ngIf="order.deliveryMethod === 'LOCAL_DELIVERY' || order.deliveryMethod === 'NATIONAL_DELIVERY'"
  >
    <ion-list-header>
      <ion-label>Delivery Address</ion-label>
    </ion-list-header>

    <ion-item>
      <ion-label> {{ order.deliveryAddressLine1 }} </ion-label>
    </ion-item>

    <ion-item>
      <ion-label> {{ order.deliveryAddressLine2 }} </ion-label>
    </ion-item>

    <ion-item>
      <ion-label> {{ order.deliveryAddressCity }} </ion-label>
    </ion-item>

    <ion-item>
      <ion-label> {{ order.deliveryAddressPostcode }} </ion-label>
    </ion-item>

    <ion-item>
      <ion-label> {{ order.deliveryAddressCountry }} </ion-label>
    </ion-item>
  </ion-list>
</ion-content>

<!-- <ion-footer>
    <ion-button
      expand="block"
      color="success"
      (click)="assignDriver()"
      *ngIf="order.order_status === 'OPEN'"
    >
      Assign Delivery
    </ion-button>

    <ion-button
      expand="block"
      color="success"
      (click)="startPacking()"
      *ngIf="order.order_status === 'ASSIGNED_TO_DRIVER'"
    >
      Start Packing
    </ion-button>

    <ion-button
      expand="block"
      color="danger"
      (click)="releaseOrderFromDriver()"
      *ngIf="order.order_status === 'ASSIGNED_TO_DRIVER'"
    >
      Release Delivery
    </ion-button>
</ion-footer> -->

<ng-template *ngIf="loading">
  <ion-content>
    <ion-spinner name="crescent"></ion-spinner>
  </ion-content>
</ng-template>
