<!-- navbar -->
<div class="contact">

  <div class="contact__container">
      <img src="https://cdn-icons-png.flaticon.com/512/59/59800.png" class="contact__img">
      <a href="mailto:hello@sugarrush.website">
        hello@sugarrush.website
      </a>
  </div>

</div>

<div class="content">
  <div class="title">
    <h1>SUGAR RUSH</h1>

    <div class="texts">
      <p>The new FAST food app</p>

      <p>
        <span class="txt"> Launching July 2023 </span>
      </p>
    </div>

    <div class="">
      <img
        (click)="goIos()"
        href="https://apps.apple.com/gb/app/local-shelf/id1667084964"
        src="https://static.wixstatic.com/media/fc7570_2ceee2afeafa4aa083bc3d48986bb811~mv2.png/v1/fill/w_246,h_77,al_c,lg_1,q_85,enc_auto/fc7570_2ceee2afeafa4aa083bc3d48986bb811~mv2.png"
      />
      <img
      (click)="goAndroid()"
      href="https://apps.apple.com/gb/app/local-shelf/id1667084964"
        src="https://static.wixstatic.com/media/fc7570_83a62c92abd54d60915647751731bc62~mv2.png/v1/fill/w_245,h_73,al_c,lg_1,q_85,enc_auto/fc7570_83a62c92abd54d60915647751731bc62~mv2.png"
        alt=""
      />
    </div>
  </div>

  <!-- <div class="mockup">

        <img src="https://static.wixstatic.com/media/eaeded_63b552e2e98e4674b48fd2b962e4a651~mv2.png/v1/fill/w_410,h_884,al_c,q_90,usm_0.66_1.00_0.01,enc_auto/Screenshot%202023-01-15%20at%2002_49_45.png">

    </div> -->
</div>
