.suggested-makers {
  border-bottom: solid #f6f6f6 1px;
  padding: 12px;
  padding-bottom: 6px;
  padding-right: 0px;

  h6 {
    margin: 0px 0px 8px 0px;
  }

  &__listing {
    display: flex;
    flex-direction: row;
    padding-bottom: 4px;
  }
}

.avatar-listing {
  text-align: center;
  margin-right: 10px;
  // border: solid green 1px;
  position: relative;
  padding-bottom: 15px;
}

ion-avatar {
  border: solid #e3e3e3 1px;
  width: 70px;
  height: 70px;
}

.avatar-name {
  font-size: 0.6rem;
  margin-top: 4px;
  // border: solid red 1px;
  position: absolute;
  height: 12px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  word-break: break-all;
  text-overflow: ellipsis;
  overflow-y: hidden;
  font-weight: 400;
}

ion-title {
  font-family: Pixelmania, sans-serif;
  font-size: 13px;
  --padding-top: 8px;
}

.padding {
  padding: 16px;
}

.horizontal-listing {
  display: flex;
  flex-direction: row;
  overflow: auto;
  white-space: nowrap;

  shoppr-monorepo-horizontal-listing {
    margin-right: 16px;
  }
}

.fade-in {
  animation: fadeIn 3s;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.fade-in-slow {
  animation: fadeIn 10s;
}

.loading {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.5);
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
}

.eta {
  text-align: center;
  background: none;
}

.rainbow-text {
  position: relative;
  color: #000;
  background: #e3e3e3;
  mix-blend-mode: multiply;
  overflow: hidden;

  // text-shadow: 0 2px 4px rgba(0,0,0,0.5);
  padding: 2px 4px 6px;
  margin-left: -4px;
  margin-bottom: 12px;
}
.rainbow-text::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: -100%;
  background: white
    repeating-linear-gradient(
      90deg,
      #14ffe9 0%,
      #ffc800 16.66666%,
      #ff00e0 33.33333%,
      #14ffe9 50%
    );
  mix-blend-mode: screen;
  pointer-events: none;
  animation: move 7s linear infinite;
}

@keyframes move {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(50%);
  }
}

@supports not (mix-blend-mode: multiply) {
  .rainbow-text {
    -webkit-text-fill-color: transparent;
    background-clip: text !important;
    background: white
      repeating-linear-gradient(90deg, #14ffe9, #ffc800, #ff00e0, #14ffe9);
    text-shadow: none;
  }
  .rainbow-text::before {
    content: none;
  }
}

.small-text {
  font-size: 12px;
}

.subtext {
  text-align: center;
  font-weight: 900;
  font-size: 12px;
  // color: #2f2f2f;
}
