<ion-header>
  <ion-toolbar>
    <ion-buttons>
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Driver Inventory</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-button (click)="replenishStock()" style="width: 100%">
    <ion-icon name="scan-circle-outline"></ion-icon>&nbsp; Scan Barcode
  </ion-button>

  <!-- <h4>You have selected</h4>

  <ion-list [inset]="true">
    <ion-item *ngIf="selectedDrop">
      <ion-label>
        <h4>({{ selectedDrop.itemCode }}) {{selectedDrop.name}}</h4>
        <p class="primary">You have: 0</p>
        <p>All Driver Stock: 0</p>
        <p>Warehouse Stock: 0</p>
      </ion-label>
    </ion-item>
  </ion-list> -->

  <h4>Inventory</h4>
  <ion-accordion-group>
    <ion-accordion
      value="first"
      toggleIcon="caret-down-circle"
      toggleIconSlot="start"
      *ngFor="let item of (allDrops$ | async)"
    >
      <ion-item
        slot="header"
        color="rose"
        [class.selected]="selectedDrop?.uuid === item.uuid"
        (click)="selectDrop(item)"
      >
        <ion-label>
          <h4>({{ item.itemCode }}) {{item.name}}</h4>
          <p class="primary">
            You/Drivers/Warehouse : 0/{{ item.qty_available }}/0
          </p>
        </ion-label>
      </ion-item>
      <div
        class="ion-padding"
        slot="content"
        *ngFor="let dropItem of item.dropItems"
        (click)="selectDropItem(dropItem)"
      >
        <span [class.selected]="selectedDropItem?.uuid === dropItem.uuid">
          {{ dropItem.uuid }}
          {{ dropItem.createdAt | date:"dd-MM-yy hh:mm" }} ({{ dropItem.expiration_date |
          date:"dd-MM-yy" }})
        </span>

        <small *ngIf="dropItem.driverUuid"> With Driver: {{ dropItem.driverUuid }} </small>
        <small *ngIf="dropItem.location">
          At Location: {{ dropItem.location.location_name }}
        </small>
      </div>
    </ion-accordion>
  </ion-accordion-group>

  <ion-footer>
    <div class="buttons">
      <ion-button color="primary" (click)="addDriverInventory()" [disabled]="!selectedDropItem">
        <ion-icon name="arrow-down-circle-outline"></ion-icon>&nbsp; Assign to
        Driver
      </ion-button>
      <ion-button (click)="replenishStock()" [disabled]="!selectedDrop">
        <ion-icon name="home-outline"></ion-icon>&nbsp; Replenish Warehouse
        Stock
      </ion-button>
    </div>
  </ion-footer>
</ion-content>
