<ion-header>
  <ion-toolbar>
    <ion-buttons>
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Driver Inventory</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-button (click)="replenishStock()" style="width: 100%">
    <ion-icon name="scan-circle-outline"></ion-icon>&nbsp; Scan Barcode
  </ion-button>

  <!-- <h4>You have selected</h4>

  <ion-list [inset]="true">
    <ion-item *ngIf="selectedDrop">
      <ion-label>
        <h4>({{ selectedDrop.itemCode }}) {{selectedDrop.name}}</h4>
        <p class="primary">You have: 0</p>
        <p>All Driver Stock: 0</p>
        <p>Warehouse Stock: 0</p>
      </ion-label>
    </ion-item>
  </ion-list> -->

  <h4>Inventory</h4>
  <!-- 
  <pre>
    {{ currentUserDropItems$ | async | json }}
  </pre> -->

  <ion-accordion-group>
    <ion-accordion value="first" toggleIcon="caret-down-circle" toggleIconSlot="start"       *ngFor="let item of (allDrops$ | async)">
      <ion-item slot="header" color="rose">
        <ion-label>
          <h4>({{ item.itemCode }}) {{item.name}}</h4>
          <p class="primary">You/Drivers/Warehouse : 0/{{ item.qty_available }}/0</p>
        </ion-label>
      </ion-item>
      <div class="ion-padding" slot="content" *ngFor="let ol of item.dropItems">
        {{ ol.createdAt | date:"dd-MM-yy hh:mm" }}
        ({{ ol.expiration_date | date:"dd-MM-yy" }})
        <small *ngIf="ol.driverUuid">
          With Driver: {{ ol.driverUuid }}
        </small>
        <small *ngIf="ol.location">
          At Location: {{ ol.location.location_name }}
        </small>
      </div>
    </ion-accordion>
  </ion-accordion-group>

  <ion-footer>
    <div class="buttons">
      <ion-button color="primary" (click)="addDriverInventory()">
        <ion-icon name="arrow-down-circle-outline"></ion-icon>&nbsp; Assign to
        Driver
      </ion-button>
      <ion-button (click)="replenishStock()">
        <ion-icon name="home-outline"></ion-icon>&nbsp; Replenish Warehouse
        Stock
      </ion-button>
    </div>
  </ion-footer>
</ion-content>
