<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <!-- cancel button -->

      <ion-button (click)="dismiss()"> Cancel </ion-button>
    </ion-buttons>
    <ion-title>Replenish Warehouse Stock</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <h4>Enter quantity to replenish to warehouse stock</h4>

  <ion-input type="number" size="48" [(ngModel)]="quantity"></ion-input>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-button (click)="confirm()"> Confirm </ion-button>
  </ion-toolbar>
</ion-footer>
