<ion-progress-bar type="indeterminate" color="primary" *ngIf="loading"></ion-progress-bar>
<!-- <ion-progress-bar type="indeterminate"></ion-progress-bar> -->

<ion-content>
  <div class="map">
    <google-map
      id="map"
      class="delivery-map"
      [options]="deliveryMapOptions"
      [width]="'100%'"
      [height]="'100%'"
    >
      <!-- <map-circle [options]="localDeliveryCircleOptions"></map-circle> -->
    </google-map>
  </div>

  <!-- <div class="ion-padding">
    <ion-segment [(ngModel)]="orderFilter">
      <ion-segment-button [value]="'sales'">
        <ion-label>Open</ion-label>
      </ion-segment-button>
      <ion-segment-button [value]="'sales'">
        <ion-label>Complete</ion-label>
      </ion-segment-button>
    </ion-segment>
  </div> -->

  <div class="sales" *ngIf="orderFilter === 'sales'" style="margin-top: -24px">
    <!-- <div class="ion-padding">
      <h2>Open Deliveries</h2>
      <p>Please assign a delivery</p>
      <p>
      </p>
    </div> -->

    <ion-list [inset]="false">
      <ion-item
        *ngFor="let order of (deliveries$ | async)"
        (click)="viewOrder(order.uuid)"
        button
      >
        <ion-avatar slot="start" *ngIf="!order.driverUuid">
          <img
            alt="Silhouette of a person's head"
            [src]="'https://ui-avatars.com/api/?name=?&background=EE4B2B&color=fff'"
          />
        </ion-avatar>

        <ion-avatar slot="start" *ngIf="order.driverUuid">
          <img
            alt="Silhouette of a person's head"
            [src]="'https://ui-avatars.com/api/?name=E&background=0D8ABC&color=fff'"
          />
        </ion-avatar>

        <ion-label>
          <h2>
            {{ order.deliveryAddressPostcode }}, {{ order.distance }} miles
          </h2>
          <p>
            {{ order.createdAt | dateAgo }}
            <small> ({{ order.createdAt | date: 'dd MMM HH:mm' }})</small>
          </p>
          <p>{{ order.multiOrderLines?.length }} items</p>
          <p>{{ order.order_total | currency:"GBP":true }}</p>
          <p>
            <ion-text color="danger" *ngIf="order.order_status === 'OPEN'">
              Open
            </ion-text>
            <ion-text
              color="warning"
              *ngIf="order.order_status === 'ASSIGNED_TO_DRIVER'"
            >
              Assigned To Driver
            </ion-text>
            <ion-text color="success" *ngIf="order.order_status === 'CLOSED'">
              Completed
            </ion-text>
          </p>

          <!-- <ion-button slot="end"> Mark complete </ion-button> -->
        </ion-label>
      </ion-item>
    </ion-list>
  </div>
</ion-content>
