<ion-header>
  <ion-toolbar>
    <ion-buttons>
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Deliveries</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="map">
    <google-map
      class="delivery-map"
      [options]="deliveryMapOptions"
      [width]="'100%'"
      [height]="'100%'"
    >
      <!-- <map-circle [options]="localDeliveryCircleOptions"></map-circle> -->
    </google-map>
  </div>



  <!-- <div class="ion-padding">
    <ion-segment [(ngModel)]="orderFilter">
      <ion-segment-button [value]="'sales'">
        <ion-label>Open</ion-label>
      </ion-segment-button>
      <ion-segment-button [value]="'sales'">
        <ion-label>Complete</ion-label>
      </ion-segment-button>
    </ion-segment>
  </div> -->

  <div class="sales" *ngIf="orderFilter === 'sales'" style="margin-top: -24px">
    <div class="ion-padding">
      <h2>Open Deliveries</h2>
      <p>Please assign a delivery</p>
      <p>
        <!-- <ion-text color="warning">
          ({{ (openSales$ | async)?.length }})
          Open Orders
        </ion-text> 
        <br>
        <ion-text color="success">
          ({{ (closedSales$ | async)?.length }})
          Closed Orders
        </ion-text>  -->
      </p>
    </div>
    <ion-list [inset]="true">
      <ion-item
        *ngFor="let order of (deliveries$ | async)"
        (click)="viewOrder(order.uuid)"
        button
      >
        <ion-label>
          <h2>{{ order.deliveryAddressPostcode }}, {{ order.distance }} miles</h2>
          <p>
            5 minutes ago
            <small> {{ order.createdAt | date: 'dd MMM HH:mm' }}</small>
          </p>
          <p>{{ order.multiOrderLines?.length }} items</p>
          <p>{{ order.order_total | currency:"GBP":true }}</p>
          <p>
            <ion-text color="warning" *ngIf="order.order_status === 'OPEN'">
              Open
            </ion-text>
            <ion-text color="success" *ngIf="order.order_status === 'CLOSED'">
              Completed
            </ion-text>
          </p>

          <!-- <ion-button slot="end"> Mark complete </ion-button> -->
        </ion-label>
      </ion-item>
    </ion-list>
  </div>
</ion-content>
