<div class="content" (click)="viewDrop(_drop.uuid)">
  <ion-thumbnail class="drop-image" [class.disabled]="!isActive">
    <img
      class="drop-image"
      [src]="
        _drop.photos && _drop.photos[0]
          ? _drop.photos[0].photo_url
          : 'https://ionicframework.com/docs/img/demos/ionic-logo.png'
      "
    />

    <div class="sold-out-overlay" *ngIf="isSoldOut">
      <ion-icon name="sad-outline"></ion-icon>
      <h6>SOLD OUT!</h6>
    </div>
  </ion-thumbnail>

  <div class="card-description">

    <h6 [class.disabled]="!isActive" class="listing-header">{{ _drop.name }}</h6>

    <p>
      Please place the description here
    </p>

    <div class="display-status" *ngIf="displayStatus">
      <div *ngIf="status === 'ACTIVE_LISTING'">
        <ion-text color="success">
          <small>
            <ion-icon name="checkmark-outline"></ion-icon>
            Active
          </small>
        </ion-text>
      </div>

      <ion-text color="warning" *ngIf="status === 'USER_DELISTED'">
        <small>
          <ion-icon name="pause-outline"></ion-icon>
          Paused
        </small>
      </ion-text>

      <ion-text color="warning" *ngIf="status === 'AWAITING_APPROVAL'">
        <small>
          <ion-icon name="hourglass-outline"></ion-icon>
          Awaiting Approval
        </small>
      </ion-text>
    </div>


    <div class="display-status">
      <div *ngIf="_drop.qty_available < 1">
        <ion-text color="danger">
          <small>
            <ion-icon name="sad-outline"></ion-icon>
            SOLD OUT!
          </small>
        </ion-text>
      </div>
    </div>
  </div>
</div>
