<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>

    <ion-title>@{{ userProfile?.username }}</ion-title>

    <ion-buttons slot="end">
      <!-- Message icon  -->
      <!-- <ion-button>
        <ion-icon name="mail-outline"></ion-icon>
      </ion-button> -->
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="">
  <div *ngIf="loading">
    <div class="profile-photos">
      <ion-slides pager="true" #slides>
        <ion-slide class="slide--two" style="height: 400px">
          <ion-skeleton-text [animated]="true"></ion-skeleton-text>
        </ion-slide>
      </ion-slides>
    </div>

    <div class="avatar-detail">
      <div class="stat">
        <ion-skeleton-text [animated]="true"></ion-skeleton-text>
        <ion-skeleton-text [animated]="true"></ion-skeleton-text>
      </div>
      <div class="stat">
        <ion-skeleton-text [animated]="true"></ion-skeleton-text>
        <ion-skeleton-text [animated]="true"></ion-skeleton-text>
      </div>
      <div class="stat disabled">
        <ion-skeleton-text [animated]="true"></ion-skeleton-text>
        <ion-skeleton-text [animated]="true"></ion-skeleton-text>
      </div>
    </div>
  </div>

  <div *ngIf="!loading">
    <!-- <div class="story-gallery">
      <img src="https://i.ibb.co/1q1GTG7/1.png">
      <img src="https://i.ibb.co/st2h4Lc/2.png">
      <img src="https://i.ibb.co/3NzwqjN/3.png">
      <img src="https://i.ibb.co/st2h4Lc/2.png">
      <img src="https://i.ibb.co/1q1GTG7/1.png">
      <img src="https://i.ibb.co/3NzwqjN/3.png">
      <img src="https://i.ibb.co/3NzwqjN/3.png">
      <img src="https://i.ibb.co/1q1GTG7/1.png">
      <img src="https://i.ibb.co/st2h4Lc/2.png">

    </div> -->

    <!-- <img
      [src]="'https://i.ibb.co/1q1GTG7/1.png'"
      alt="Profile Photo"
      class="full-profile-image"
    /> -->

    <ion-slides pager="true" #slides>
      <ion-slide *ngFor="let photo of userProfile.userPhotos" class="slide--one" style="height: 320px">
        <img
          [src]="photo.photo_url"
          alt="Profile Photo"
          class="full-profile-image"
        />
      </ion-slide>
    </ion-slides>

    <div class="ion-padding">
      <div class="avatar">
        <!-- <ion-avatar>
          <img
            alt="Profile Photo"
            [src]="userProfile?.photoUrl"
          />
        </ion-avatar> -->

        <div class="avatar-detail subtle-underline stats" *ngIf="isMaker">
          <div class="stat">
            <!-- logo avatar -->
            <!-- <ion-avatar class="avatar--logo" style="width: 100%;">
             <img alt="Profile Photo" [src]="userProfile?.photoUrl" style="width: 100%;"/>
            </ion-avatar> -->

              <img class="my-avatar" alt="Silhouette of a person's head" [src]="userProfile?.photoUrl ? userProfile?.photoUrl : 'https://ui-avatars.com/api/?name=' + currentUser?.name + '&background=random&color=fff&size=256' " style="width: 80px; height:80px;"/>
          </div>

          <div class="stat">
            <div class="stat-label">Based In</div>
            <div class="stat-value" style="color: #c99530">
              {{ userProfile.location }}
            </div>
          </div>
          <div class="stat">
            <div class="stat-value">{{ (activeDrops$ | async)?.length }}</div>
            <div class="stat-label">Drops</div>
          </div>
          <!-- <div class="stat disabled">
            <div class="stat-value">0</div>
            <div class="stat-label">Subscribers</div>
          </div> -->
        </div>
      </div>

      <div>
        <p style="margin-bottom: 0px; font-weight: 700">
          {{ userProfile.name }}
        </p>
        <p>
          <span class="bio">
            <span *ngIf="userProfile.bio"> {{userProfile.bio}} </span>
            <span *ngIf="!userProfile.bio" style="font-style: italic; white-space: pre-wrap;">
              No bio yet.
            </span>
            <br />
          </span>

          <a
            [href]="userProfile.website"
            style="text-decoration: none; padding-top: 16px; font-weight: 700;"
            >{{ userProfile.website }}</a
          >
        </p>

        <div class="buttons">
          <!-- <ion-button
            color="secondary"
            (click)="subscribe()"
            disabled
            size="small"
            style="--border-radius: 0; width: 63%;"
          >
          
            Subscribe
          </ion-button> -->
          <ion-button
            (click)="message()"
            size="small"
            class="btn--message"
            [disabled]="isCurrentUser"
          >
            Message
          </ion-button>
        </div>
      </div>
    </div>

    <!-- <ion-item-divider>
      <ion-label></ion-label>
    </ion-item-divider> -->

    <div class="story-gallery">
      <!-- image gallaery-->
      <!-- <img src="https://i.ibb.co/1q1GTG7/1.png">
      <img src="https://i.ibb.co/st2h4Lc/2.png">
      <img src="https://i.ibb.co/3NzwqjN/3.png"> -->
    </div>

    <!-- <img src="https://i.ibb.co/1q1GTG7/1.png"> -->

    <div class="ion-padding story" *ngIf="isMaker">
      <div class="text">
        <h2 class="rainbow-text">
          <!-- <shoppr-monorepo-hand-written>
          </shoppr-monorepo-hand-written> -->
          Our Story.
        </h2>

        <!-- <h2 class="rainbow-text">Our Story.</h2> -->
        <span *ngIf="userProfile.story" style="white-space: pre-wrap;">{{userProfile.story}}</span>
        <span *ngIf="!userProfile.story" style="font-style: italic;">
          No story yet.
        </span>

        <p></p>
      </div>
    </div>

    <div class="ion-padding drops" *ngIf="isMaker || isCurrentUser">
      <div class="text">
        <h2 class="drops-title">Drops.</h2>

        <div
          class="horizontal-listing"
          *ngIf="(drops$ | async) as drops; else loadingDrops"
        >
          <shoppr-monorepo-horizontal-listing
            *ngFor="let drop of drops"
            [drop]="drop"
            [displayStatus]="true"
          >
          </shoppr-monorepo-horizontal-listing>

          <div class="no-drops" *ngIf="drops.length < 1">
            <p>No drops yet.</p>
          </div>
        </div>

        <ng-template #loadingDrops>
          <ion-skeleton-text
            [animated]="true"
            style="width: 80px"
          ></ion-skeleton-text>
        </ng-template>
      </div>
    </div>
  </div>
</ion-content>
