@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600&display=swap');

$melorraOrange: #f05a00;
$subtleGrey: #e3e3e3;
$blueShade1: #2c3e50;
$blueShade2: #34495e;
$boxShadowLight1: 0 24px 128px rgba(0,0,0,0.06);
$boxShadwoDark1: 0 24px 128px rgba(0,0,0,0.1);


*, *::after, *::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  color: $blueShade1;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  min-height: 100vh;
  position: relative;
  display: block;
}

h2, h4, h6 {
  margin: 0;
  padding: 0;
  display: inline-block;
}

.root {
  padding: 48px 24px;
  border-radius: 20px;
  box-shadow: $boxShadwoDark1;
  zoom: 0.5;
}

figure {
  display: flex;
  & img {
    width: 64px;
    height: 64px;
    // border-radius: 50%;
    border: 1px solid $subtleGrey;
  }
  
  & figcaption {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    
    & h4 {
      font-size: 16px;
      font-weight: 500;
    }
    
    & h6 {
      font-size: 16px;
      font-weight: 300;
    }
    
    & h2 {
      font-size: 16px;
      font-weight: 500;
    }
  }
}

.order-track {
  margin-top: 16px;
  padding: 0 16px;
  border-top: 1px dashed $blueShade1;
  padding-top: 32px;
  display: flex;
  flex-direction: column;
  
  &-step {
    display: flex;
    height: 128px;
    
    &:last-child {
      overflow: hidden;
      height: 32px;
      & .order-track-status span:last-of-type {
        display: none;
      }
    }
  }
  
  &-status {
    margin-right: 16px;
    position: relative;
    &-dot {
      display: block;
      width: 32px;
      height: 32px;
      border-radius: 50%;
      background: $melorraOrange;
    }

    &-line {
      display: block;
      margin: 0 auto;
      width: 2px;
      height: 128px;
      background: $melorraOrange;
    }
  }
  
  &-text {
    &-stat {
      font-size: 18px;
      font-weight: 500;
      margin-bottom: 3px;
    }
    
    &-sub {
      font-size: 18px;
      font-weight: 300;
    }
  }
}

.open-status {
    background: white;
    border: solid $melorraOrange 1px;
}

.order-track {
  transition: all .3s height 0.3s;
  transform-origin: top center;
  // transform: scale(0);
  // height: 0;
}