<ion-content>
  <div class="ion-padding bg">
    <ion-list-header>
      <ion-label>YOUR <br />ORDERS</ion-label>
    </ion-list-header>

    <h2>Need Help?</h2>
    <ion-button
      expand="block"
      color="light"
      fill="outline"
      (click)="openSupport()"
      >Contact Support</ion-button
    >
  </div>

  <ion-list [inset]="false">
    <ion-item
      *ngFor="let order of (myOrders$ | async)"
      (click)="viewOrder(order.uuid)"
      button
    >
      <!-- <ion-avatar slot="start" *ngIf="!order.driverUuid">
        <img
          alt="Silhouette of a person's head"
          [src]="'https://ui-avatars.com/api/?name=?&background=EE4B2B&color=fff'"
        />
      </ion-avatar>

      <ion-avatar slot="start" *ngIf="order.driverUuid">
        <img
          alt="Silhouette of a person's head"
          [src]="'https://ui-avatars.com/api/?name=E&background=0D8ABC&color=fff'"
        />
      </ion-avatar> -->

      <ion-label>
        <h2>{{ order.createdAt | date: 'dd MMM HH:mm' }}</h2>
        <p>
          {{ order.order_total | currency:"GBP":true }}, {{
          order.multiOrderLines?.length }} items
          <small> ({{ order.createdAt | date: 'dd MMM HH:mm' }})</small>
        </p>
        <p>
          <ion-text color="danger" *ngIf="order.order_status === 'OPEN'">
            <!-- loading spinner -->
            <!-- <ion-spinner color="primary"></ion-spinner> -->
            Waiting for driver
          </ion-text>
          <ion-text
            color="warning"
            *ngIf="order.order_status === 'ASSIGNED_TO_DRIVER'"
          >
            With Driver
          </ion-text>
          <ion-text color="success" *ngIf="order.order_status === 'CLOSED'">
            Completed
          </ion-text>
        </p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
