<div class="">
  <ion-card (click)="viewDrop(drop.uuid)" style="margin-top: 12px">
    <ion-thumbnail class="drop-image">
      <img
        class="drop-image"
        [src]="
          drop.photos && drop.photos[0]
            ? drop.photos[0].photo_url
            : 'https://ionicframework.com/docs/img/demos/ionic-logo.png'
        "
      />
      <div class="sold-out-overlay" *ngIf="isSoldOut">
        <ion-icon name="sad-outline"></ion-icon>
        <h6>SOLD OUT!</h6>
      </div>
    </ion-thumbnail>

    <div class="card-description">
      <h6 class="listing-header">{{ drop.name }}</h6>
      <!-- <div>
        <ion-text color="secondary">
          <small>
            Liverpool, UK
          </small>
        </ion-text>
      </div> -->
      <p class="listing-text" *ngIf="drop.description.length > 100" style="text-overflow: ellipsis">
        {{ drop.description.substring(0, 70) + '...' }}
      </p>
      <p *ngIf="drop.description.length < 100" class="listing-text" >{{ drop.description }}</p>
    </div>
  </ion-card>
</div>
